.usfw .usw-table {
	background-color: #F9F9F6;
    border: 1px solid #999999;
    border-collapse: separate;
}
.usfw .usw-row {
	vertical-align: top;
}
.usfw .usw-inner {
 	height: 200px;
    overflow: auto;
    position: relative;
    width: 200px;	
}
.usfw .c-uln, 
.usfw .c-sel {
	background-color: #FFF;
	border: 1px solid #F0F0F6;
}
.usfw .c-btn {
    width: 22px;
}
.usfw .c-btn .btn-add {
    background: url("/modules/botask/images/btn-add.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 21px;
    margin-top: 20px;
    width: 22px;
}
.usfw .c-btn .btn-rem {
    background: url("/modules/botask/images/btn-rem.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 21px;
    margin-top: 6px;
    width: 22px;
}
.usfw .opt {
	cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 2px;
}
.usfw .opt-current {
	background-color: #FFDF7F;
}
.usfw .employee {
	background-position: 2px center;
	background-repeat: no-repeat;
	padding-left: 30px;
}
.usfw .extra {
	color: #999999;
	font-size: 0.8em;
}

.usfw .bfind {
	text-align: center;
	padding: 7px;
}

.usfw .mu-block {
    position: relative;
    overflow: hidden;
	border: 1px solid #999999;
	padding: 2px 16px 2px 2px;
}

.usfw .mu-block .employee {
    height: 50px;
}
.usfw .mu-block .employee {
	padding-left: 54px;
}
.usfw .mu-block .text {
	font-size: 1.12em;
	padding-top: 0.4em;
}
.usfw .mu-block .extra {
	padding-top: 0.4em;
}
